*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  position: relative;
  display:block;
  margin:auto;

  width:  480px;
  height: 480px;
  overflow: hidden;

}

/*Light blue cover above the slide show*/
.card::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  display: block;
  align-items: center;
  width: 100%;
  height: 100%;

  transform: translateX(480px);

  animation: opaqTransition 50s cubic-bezier(0, 0, 0, 1) infinite;
}

.card_part.card_part-two {
  z-index: 50;
  position:absolute;
  display:block;
  /*animation-delay: 50s;*/
}

.card_part.card_part-three {
  z-index: 50;
  /*animation-delay: 50s;*/
}

.card_part.card_part-four {
  z-index: 50s;
  /*animation-delay: 50s;*/
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-480px);
  }
  100% {
    transform: translateX(-480px);
  }
}